.app-button {
  position: absolute;
  right: 5%;
  bottom: 5%;
  z-index: 3;
}

.text-center { 
  text-align : center;
}
.wrapper {
  margin : auto;
}

.mdl-data-table th {
  text-align:left;
}

.mdl-data-table td {
  text-align:left;
}

.app-tr-selected {
    background-color: #77C259;
}

.clickable td{
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.pointer{
    cursor: pointer;
}